/* ========== ФУТЕР ========== */
.for_footer {
    background: #21212a;
    color: white;
    text-align: center;
    width: 100%;
}

footer {
    background-color: #2d2d36;
    color: #eee;
    display: flex;
    padding: 7px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 auto;
}

footer a {
    padding: 0.3rem 0.2rem;
    position: relative;
    color: white;
    isolation: isolate;
    text-decoration: none;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    min-width: 55px;
    cursor: pointer;
}

footer a img {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
}

footer a h4 {
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    font-weight: normal;
    white-space: nowrap;
}
footer a.active::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right, #9e00f3 0%, #005eff 100%);
    z-index: -1;
    border-radius: 0.75rem;
    opacity: 0.3;
}

.firstt, .twoo, .threee, .fourr, .fivee {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
@layer demo {
    :root {
        --bounce: linear(
            0, 1 37.8%, 0.883 44.2%, 0.855 47.1%, 0.846 50%, 0.853 52.7%, 
            0.875 55.5%, 1 65.5%, 0.967 69.4%, 0.957 73.1%, 0.964 76.5%, 
            1 84.5%, 0.993 89.3%, 1
        );
    }
    
    a {
        view-transition-class: nav-item;
    }
    
    a.active::before {
        view-transition-name: active-nav;
    }
    
    ::view-transition-old(active-nav),
    ::view-transition-new(active-nav) {
        height: 100%;
        transform-origin: bottom;
    }
    
    ::view-transition-group(*) {
        animation-duration: 0.4s;
        animation-timing-function: var(--bounce);
    }
}