/* MAIN */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    min-height: 100vh;
}

img {
    width: 100%;
}

.all {
    position: relative;
    width: 350px;
    max-width: 450px;
    background-color: black;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}
a{
    font-weight: bold;
}