/* Upgrade categories */
.upgrade-categories {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 25px;
    width: 100%;
}

.category-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background: #2a2a2a;
    padding: 12px 5px;
    border-radius: 15px;
    border: 1px solid #3a3a3a;

    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.category-block span:first-child {
    font-size: 28px;
}

.category-block span:last-child {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.category-block.active-category {
    border-color: blue;
    box-shadow: 0 4px 20px #0044ff;
    background: linear-gradient(145deg, #2a2a2a, #2222aa20);
}

.upgrade-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.upgrade-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2a2a2a;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #3a3a3a;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.upgrade-item:nth-child(1){
     animation:  aniamte 0.4s forwards linear;
}
.upgrade-item:nth-child(2){
    animation:  aniamte 0.8s forwards linear;
}
.upgrade-item:nth-child(3){
    animation:  aniamte 1.2s forwards linear;
}
@keyframes aniamte{
    0%{
        opacity: 0;
        transform: translateY(7px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px)
    }
}
.upgrade-item:active {
    transform: translateY(2px);
}
.main-counter2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}
.upgrade-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.upgrade-name {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.upgrade-desc {
    font-size: 15px;
    color: #ffffff;
}

.upgrade-price {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 12px;
    border-radius: 20px;
}


.upgrade-price span {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.upgrade-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2a2a2a;
    padding: 12px 15px;
    border-radius: 15px;
    border: 1px solid #3a3a3a;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.upgrade-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.upgrade-name {
    font-size: 19px;
    font-weight: bold;
    color: white;
}

.upgrade-desc {
    font-size: 14px;
    color: #ffffff;
}

.upgrade-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.upgrade-price {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 5px 10px;
    border-radius: 20px;
}

.upgrade-count {
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    min-width: 35px;
    text-align: center;
}

.price-icon {
    width: 24px !important;
    height: 24px !important;
}