/* ========== НАВ ========== */
.for_nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    text-align: center;
}

.user-avatar {
    width: 32px;
    height: 32px;
}

.starsss_img {
    width: 32px;
    height: 32px;
}

.user-info, .users_stars_div {
    display: flex;
    align-items: center;
}

.user-name {
    margin-left: 5px;
    color: white;
}

.user-stars {
    margin-right: 5px;
}

.user-avatar {
    margin-left: 10px;
}

.starsss_img {
    margin-right: 10px;
}